<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<style>
    .RegContainer {
        margin-top: 100px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
<body class="font-primary">
    <section class="w-full h-[100vh]  bg-header  bg-cover bg-no-repeat bg-center bg-color1 bg-blend-multiply bg-opacity-60 " >
        <section class="w-full flex flex-wrap justify-center ">
            <header 
            class="w-[85%]  xl:w-[73%]  container hidden lg:flex justify-between h-[60px]  items-center py-[45px] border-b-[1px] border-white border-opacity-40">
            <figure class="w-[140px]">
               <img src="/img/just_logo.png" alt="logo" class="w-[100%]">
            </figure>
            <nav class="h-[100%] md:w-[70%]">
                <ul class="h-[100%] flex items-center gap-8 justify-end">
                    <li class="list-none  "><a class="decoration-none text-white hover:text-color3 transition-all duration-500"
                            th:href="@{/index}">Home</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">About</a></li>
                    <li class="list-none "><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Tours</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Destination</a></li>
                    <li class="list-none "><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            th:href="@{/login}">Login</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            th:href="@{/register}">Register</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            th:href="@{/users}">Users</a></li>
                </ul>
            </nav>
        </header>

 <!-- header for mobile -->
 <header
 class="w-[95%] sm:w-[70%] md:w-[80%] container flex h-[60px] justify-between  items-center  lg:hidden  py-[45px] relative border-b-[1px] border-white border-opacity-40 ">
 <figure class="w-[140px]">
    <img src="/img/logo-light.png" alt="" class="w-[100%]">
 </figure>
 <div class=" w-1/2 h-full flex justify-end items-center ">
     <i class="bi bi-list text-3xl text-white cursor-pointer ham-menu-icon"></i>
 </div>
 <nav class="menu hidden h-[400px] w-full absolute bg-white left-0 top-[90px]   z-30 ">
     <ul class="h-full w-full flex flex-col  justify-center ms-6">
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex hover:text-color4  transition-all duration-600"
                 href="">Home</a></li>
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex  hover:text-color4  transition-all duration-600"
                 href="">About</a></li>
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex  hover:text-color4 transition-all duration-600"
                 href="">Tours</a></li>
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex  hover:text-color4 transition-all duration-600"
                 href="">Destination</a></li>
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex   hover:text-color4  transition-all duration-600"
                 href="">Blog</a></li>
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex  hover:text-color4  transition-all duration-600"
                 href="">Gallery</a></li>
         <li class="list-none my-3"><a
                 class="decoration-none text-color2 flex   hover:text-color4 transition-all duration-600"
                 href="">Contact</a></li>
     </ul>
 </nav>
</header>
<!-- end header mobile  -->
    </section>

        <div class="RegContainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've successfully registered to our app!</div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center">
                            <h2>Registration</h2>
                        </div>
                        <div class="card-body">
                            <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                                <div class="form-group mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input class="form-control"
                                           id="firstName"
                                           name="firstName"
                                           placeholder="Enter first name"
                                           th:field="*{firstName}"
                                           type="text"
                                    />
                                    <p th:errors="*{firstName}" class="text-danger"
                                       th:if="${#fields.hasErrors('firstName')}">
                                    </p>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input class="form-control"
                                           id="lastName"
                                           name="lastName"
                                           placeholder="Enter last name"
                                           th:field="*{lastName}"
                                           type="text"
                                    />
                                    <p th:errors="*{lastName}" class="text-danger"
                                       th:if="${#fields.hasErrors('lastName')}">
                                    </p>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input class="form-control"
                                           id="email"
                                           name="email"
                                           placeholder="Enter email address"
                                           th:field="*{email}"
                                           type="email"
                                    />
                                    <p th:errors="*{email}" class="text-danger"
                                       th:if="${#fields.hasErrors('email')}">
                                    </p>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input class="form-control"
                                           id="password"
                                           name="password"
                                           placeholder="Enter password"
                                           th:field="*{password}"
                                           type="password"
                                    />
                                    <p th:errors="*{password}" class="text-danger"
                                       th:if="${#fields.hasErrors('password')}">
                                    </p>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                                </div>
                                <div class="mt-3 text-center">
                                    <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/master.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFZcT9a4U/FTb8PI2F8aon2nD8D1Sp3olLlAlo59R2FETc5pXbKMG8LEv5" crossorigin="anonymous"></script>

</html>
